.main {
  height: 100vh;
  background-color: black;
  color: white;
  &-lights {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70vh;
    h1 {
      font-size: 70px;
    }
  }
  &-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    &-intensity {
      p {
        text-align: center;
      }
    }
  }
}
