.main {
  height: 100vh;
  background-color: black;
  color: white;
  &-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    &-intensity {
      p {
        text-align: center;
      }
    }
  }
}
